html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer , hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration:none;
}


::-webkit-scrollbar {
  display: none;
}
input[type="text"],
input[type="email"],

textarea {
  -webkit-appearance: none;
}
.botonreg{
  text-decoration:none;
}
input[type="submit"],
button {
  cursor: pointer;
}
textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}


button,
input {
  font-family: "Karla", Helvetica, Arial, sans-serif;
}

a {
  text-decoration:none;
  color: black;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

a:hover {
  opacity: .7;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 0px 15px 10px;
  background: url(photos/30.jpg) no-repeat 50% 50%/cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}



.form {
  width: 100%;
  max-width: 432px;
  margin: auto;
  background: #ecebeb;
  -webkit-box-shadow: 0 16px 22px -10px rgba(0, 0, 0, 0.1), 0 34px 55px 4px rgba(0, 0, 0, 0.05), 0 13px 66px 12px rgba(0, 0, 0, 0.07);
  box-shadow: 0 16px 22px -10px rgba(0, 0, 0, 0.1), 0 34px 55px 4px rgba(0, 0, 0, 0.05), 0 13px 66px 12px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.form__container {
  padding: 52px 36px 38px;
  text-align: center;
}

.form__footer {
  padding: 19px 36px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.logo {
  margin-bottom: 32px;
}

.fieldset {
  margin-bottom: 48px;
}

.input {
  width: 100%;
  height: 64px;
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 22px;
  color: black;
  text-align: center;
}




.button1 {
  min-width: 234px;
  height: 50px;
  color:rgb(255, 251, 251);
  background: rgb(46, 46, 46);
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.3px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.button1:hover {
  opacity: .7;
}

.text {
  margin-top: 24px;
  opacity: .7;
  font-size: 16px;
  line-height: 1.375;
  color: #000000;
}




