.hide{
    display:none;
}

button.user-menu{
    border: none;
    background: none;
}

div.container{
    margin-left: 93%;
    width: 6em;
}

div.box{
    height: 0.5em;
    width: 6em;
    margin-right: 4em;
}


footer{
    background-color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
}

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .logo {
	font-size:40px;
	line-height:180px;
	float:left;
    margin-top: 0.6em;
}

header nav {
	float:right;
	line-height:130px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#d1d3e0;
	border-radius:50px;
}